.default-layout {
  display : grid;
  grid-template-rows: 80px auto 3rem;
  grid-template-areas:
  "header"
  "main"
  "footer"
  "AddForm"
}
header{
  grid-area: header;
}
main {
  grid-area: main;
  min-height: 88vh;
}
footer{
  grid-area: footer;
  background: black;
  padding: 1rem;
  color: white;
}
.parent-form{
  height: 100vh;
  background-color: #fb743e;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px -10px 10px -5px black;
}
